---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import { SITE, SOCIALS } from "@consts"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"
// Renable with twitch embed at later point 
import Twitch from "@components/TwitchEmbed.astro"
import GitHubActivity from "@components/GitHubActivity.astro"
import ContactForm from '@components/ContactForm.astro';
//import StatusWidget from "@components/status-widget.astro"
import ArrowCard from "@components/ArrowCard.tsx"

const uaString = Astro.request.headers.get("user-agent");

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

  import PostHogClient from './api/posthog.ts';

const phClient = PostHogClient();
phClient.capture(
    {
        event: 'Index Page View', 
        distinctId: 'There is/was a new visitor from --> ' + Astro.clientAddress + 'There user agent is --> ' +  uaString//import.meta.env.DID,
    }
);

---


<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>

  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
      <div id="crescent" class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%'>
        <div id="planet" class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'>
          <div id="blur" class='w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl'/>
        </div>
      </div>
    </div>
    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        
  
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">

          <div class="flex items-center justify-center">
      
            <center><img src="https://serv.husky.nz/public/peter-small.png" width="200" height="200" alt="ME" class=" rounded-lg"/></center>
      
          </div>
      
          <div class="flex items-center justify-center">
      
            <div class='p-5 text-center'>
              <p class='animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75'>
                Hi There!
              </p>
              <p class='animated text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white'>
               I'm Peter
              </p>
              <p class='animated text-sm md:text-base lg:text-lg opacity-75'>
                A Solutions Architect
              </p>
              </div>
      
          </div>
      
          <div class="col-span-2 flex justify-center mt-4">
      
            <div id="ctaButtons" class='animated flex flex-wrap gap-4 justify-center mt-5'>
            <a href='#contact' class='py-2 px-4 rounded truncate text-xs text-center md:text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75 blend'>
              Lets Connect
            </a>
            <a href='/work' class='py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend'>
              View my work and projects
            </a>
           <!-- Enable this at a later date <a href='/blog' class='py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend'>
              Read my blog
            </a>-->
          </div>
      
          </div>
          
      
      </div>
      </div>
    </div>
  </section>
  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">
      <!-- About Section -->
      <section class="animate">
        <article>
          <p>Hi, I'm Peter, currently a university student with a passion for tech. I have been learning for the last three years (coming up on four). I have gained a lot of skills, but my primary expertise is with Microsoft and Cloudflare products. However, I also know how to work with AWS, GCP, DataDog, and Linux servers, and I'm still learning and expanding my skill set. I have earned two Microsoft certifications: AZ-904 and MS-900, both of which are fundamental. Additionally, I have been learning web technology along the way (though I'm not a designer). I also stream on Twitch for fun.</p>
        </article>

      </section>
            <!-- Add GitHub Activity here -->
    <section class="animate">
      <GitHubActivity />
    </section>
      <!-- Disable timeline on main page this was moved to /work 
       <section class="animate">
            <TimelineSkills />
          </section>
          --> 
          <!-- Status Widget, Disable for now to renable later when move to uptime kuma is complete
          <section class="animate flex justify-center items-center w-full">
            <StatusWidget />
          </section>
          -->
          <!-- Blog Preview Section-->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent posts
            </p>
            <a href="/blog" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All posts from me
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {posts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section>

     
          <!-- Twitch Embed, Displays message when offline - Reanable later -->
          <section id="contact" class="animate">
            <Twitch />
            </section>
      <!-- Contact Section -->
      <section id="contact" class="animate scroll-mt-32">
        <div>
          <p class="font-semibold text-black dark:text-white">
            Let's Connect
          </p>
          <p>
            Reach out to me useing the form below or via email or on social media.
          </p>
          <!-- <Contact /> -->
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {SOCIALS.map(social => (
              <div class="col-span-1 flex items-center gap-1">
                <span class="whitespace-nowrap truncate">
                  {social.NAME}
                </span>
              </div>
              <div class="col-span-3 truncate">
                <a href={social.HREF} target="_blank" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                  <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                    {social.TEXT}
                  </span>
                </a>
              </div>
            ))}
        </div>
        <br>
        <div class="space-y-4">
          <p class="font-semibold text-black dark:text-white">
            Please feel free to reach out to me via this form.
          </p>
          <p class=" text-black dark:text-white">
            I will reply within 48 hours.
          </p>
          <ContactForm />
        </div>
      </section>
     
    </div>
  </div>

</PageLayout>
